body{
    height: 5000px;
}
/*轮播图开始*/
.slide-box{
    position:relative;
}
.ad-slide{
    position: relative;
    height: 460px;
}
.ad-img-box img{
    width: 1226px;
    height: 460px;
    position: absolute;
    left: 0;
    top: 0;
}
.prev-btn,.next-btn{
    width: 41px;
    height: 69px;
    position: absolute;
    top: 50%;
    margin-top: -34.5px;
    font-size: 50px;
    line-height: 69px;
    text-align: center;
    border-radius: 4px;
    color: #e0e0e0;
    cursor: pointer;
}
.prev-btn{
    left: 234px;
}
.next-btn{
    right: 0;
}
.prev-btn:hover,.next-btn:hover{
    color: #ffffff;
    background: rgba(0,0,0,0.5);
}
.btns li{
    width: 6px;
    height: 6px;
    background: #232429;
    border: 2px solid #65666b;
    border-radius: 50%;
    margin: 0 5px;
    float: left;
    cursor: pointer;
}
.btns li:hover{
    background: #898a8e;
    border: 2px solid #4f4e56;
}
.btns{
    position: absolute;
    right: 30px;
    bottom: 20px;
    float: left;
}
.list{
    width: 234px;
    padding: 20px 0;
    position: absolute;
    left: 0px;
    top: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1;
}
.left-nav>a{
    display: block;
    height: 42px;
    color: #ffffff;
    padding-left: 30px;
    line-height: 42px;
    font-size: 14px;
}
.left-nav>a:hover{
    background: #ff6700;
}
.left-nav:hover .child-list{
    display: block;
}
.icon-arrow{
    float: right;
    margin-right: 15px;
}
.child-list{
    position: absolute;
    top: 0;
    left: 234px;
    height: 458px;
    border: 1px solid #e0e0e0;
    border-left:0;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.18);
    display: none;
}
.child-list-3{
    width: 795px;
}
.child-list-4{
    width:992px;
}

.child-list-1{
    width: 265px;
}
.child-list ul{
    background: #ffffff;
    height: 100%;
    width: 265px;
    float: left;
}
.child-list li{
    overflow: hidden;
    padding:18px 8px 18px 20px;
}
.child-list a{
    float: left;
}
.list-img-box:hover .list-title{
    color: #ff6700;
}
.list-img-box{
    width: 170px;
    height: 41px;
}
.list-img{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 12px;
}
.list-title{
    color: #333333;
    font-size: 14px;
}
.child-list a.buy-btn{
    float: right;
    width: 58px;
    height: 22px;
    border: 1px solid #ff6700;
    color: #ff6700;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    margin-top: 6px;
}
.notepad{
    width: 225px;
}
.notepad-1{
    width: 225px;
}
.child-list-4 ul{
    width: 248px;
}
.child-list-2{
    width: 530px;
}
/*轮播图结束*/

/*频道列表开始*/
.channel-box{
    margin-top: 14px;
    margin-bottom: 26px;
    height: 170px;
}
.channel-list{
    width: 234px;
    height: 170px;
    background: #5f5750;
    float: left;
}
.channel-list ul{
    overflow: hidden;
    padding: 3px;
}
.channel-list li{
    width: 70px;
    height: 82px;
    float: left;
    padding:0 3px;
    position: relative;
}
.channel-list li:hover i,.channel-list li:hover span{
    color: #fffcf9;
}
.channel-list i{
    font-size: 24px;
    text-align: center;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 18px;
}
.channel-list span{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    display: block;
    text-align: center;
}
.line-right{
    position: absolute;
    top: 6px;
    right: 0;
    width: 1px;
    height: 70px;
    background: #665e57;
}
.line-bottom{
    position: absolute;
    bottom: 1px;
    left: 6px;
    width: 64px;
    height: 1px;
    background: #665e57;
}
.promo-list{
    float: left;
}
.promo-list a{
    float: left;
    margin-left: 15px;
}
.promo-list .a1{
    margin-left: 14px;
}
.promo-list img{
    width: 316px;
    height: 170px;
    display: block;
}
.promo-list img:hover{
    box-shadow:  0px 7px 15px 5px rgba(0,0,0,0.1);
}
/*频道列表结束*/

/*明星单品开始*/
.star-box{
    position: relative;
}
.star-title{
    font-size: 22px;
    color: #333333;
    font-weight: 200;
    height: 58px;
    line-height: 58px;
}
.more-box{
    position: absolute;
    right: 0;
    top: 20px;
}
.more-box i{
    border:1px solid #e0e0e0;
    color: #e0e0e0;
    width: 24px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    padding:3px 5px;
    float: left;
    font-size: 16px;
    margin-left: -1px;
    cursor: pointer;
}
.more-box i.icon-active{
    color: #b0b0b0;
}
.more-box i.icon-active:hover{
    color: #ff6700;
}
.star-pro-list{
    overflow: hidden;
}
.star-pro-list ul{
    width: 2480px;
}
.star-pro-item{
    text-align: center;
    width: 234px;
    height: 300px;
    padding-top: 39px;
    background: #fafafa;
    float: left;
    margin-right: 14px;
}
.star-pro-img{
    width: 160px;
    height: 160px;

}
.star-pro-title{
    display: block;
    color:#212121;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 400;
}
.star-pro-desc{
    color: #b0b0b0;
    font-size: 12px;
    margin-bottom: 12px;
}
.star-pro-price{
    color: #ff6709;
    font-size: 14px;
    font-weight: 400;
}
.color-orange{
    border-top:1px solid #ffac13;
}
 .color-green{
     border-top:1px solid #83c44e;
 }
.color-blue{
    border-top:1px solid #2196f3;
}
.color-red{
    border-top:1px solid #e53935;
}
.color-skyblue{
    border-top:1px solid #00c0a5;
}
/*明星单品结束*/
