/*css reset*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
img{
    border: 0;
}
.wrapper{
    width: 1226px;
    margin: 0 auto;
}
/*共用样式开始*/

/*banner 开始*/
.banner{
    height: 120px;
    background: url("../img/banner.jpg") no-repeat 50% 50%;
}
.banner a{
    display: block;
    width: 100%;
    height:100%;
}
/*banner 结束*/

/*nav 开始*/
.nav{
    height: 40px;
    background: #333333;
}
.main-menu{
    overflow: hidden;
    float: left;
}
.nav li{
    float: left;
    line-height:40px;
    height: 40px;
}
.nav a{
    color: #b0b0b0;
    font-size: 12px;;
}
.nav .sep{
    margin: 0 6px;
    color: #424242;
}
.nav a:hover{
    color: white;
}
.user-info{
    float: right;
}
.message{
    padding: 0 10px;
}
.cart{
    position: relative;
    width: 120px;
    text-align: center;
}
.cart:hover .cart-box{
    display: block;
    animation:cart-box-show 0.5s ease-in forwards;
}
@keyframes cart-box-show {
    100%{
        height: 85px;
    }
}
.cart a:hover{
    background: #ffffff;
    color: #ff6700;
}
.cart a{
    display: block;
    width: 100%;
    height: 100%;
    background: #424242;
}
.cart-box{
    width: 316px;
    height: 0px;
    padding-top: 15px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    border: 1px solid #e0e0e0\9;
    position: absolute;
    right: 0;
    top: 40px;
    display: none;
    z-index: 1;
}
/*nav 结束*/

/*header开始*/
.header{
    height: 100px;
    position: relative;
}
.header-logo{
    width: 55px;
    height: 55px;
    background: url("../img/mi-logo.png") no-repeat #ff6700 50% 50%;
    margin-top: 22px;
    float: left;
}
.header-menu{
    float: left;
    margin-left: 185px;
    line-height: 100px;
    height: 100px;
}
.menu-item{
    float: left;
    padding: 0 10px;
}
.menu-item a{
    color: #333333;
}
.header .menu-item a:hover{
    color: #ff6700;
}
.header .menu-item:hover .sub-menu{
    display: block;
    animation: submenu-show 0.2s ease-in forwards;
}
@keyframes submenu-show {
    100%{
        height: 229px;
    }
}
.sub-menu{
    height: 0px;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    position: absolute;
    left: 0;
    top: 100px;
    background: #ffffff;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.18);
    overflow: hidden;
    z-index: 2;
    display: none;
}
.sub-menu ul{
    overflow: hidden;
    width: 1224px;
    margin: 0 auto;
}
.sub-menu li{
    width: 204px;
    height: 201px;
    float: left;
    text-align: center;
    position: relative;
}
.flags{
    height: 18px;
    line-height: 18px;
    margin-bottom: 18px;
}
.flags span{
    border: 1px solid #ff6700;
    color: #ff6700;
    padding: 1px 20px;
    font-size: 12px;
}
.pro-img{
    display: block;
    height: 110px;
    margin-bottom: 12px;
}
.pro-title{
    color: #333333;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
}
.pro-price{
    height: 20px;
    line-height: 20px;
    color: #ff6700;
    font-size: 12px;
}
.pro-line{
    width: 1px;
    background: #e0e0e0;
    height: 100px;
    position: absolute;
    right: 0;
    top: 37px;
}
.search{
    width: 296px;
    height: 50px;
    float: right;
    margin-top: 20px;
}
.search-text{
    width: 222px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    outline: none;
    float: left;
    font-size: 14px;
}
.search-submit{
    width: 52px;
    height: 50px;
    background: #ffffff;
    float: left;

    border: 1px solid #e0e0e0;
}

/*header结束*/